@use '../../../assets/mixins' as m;

.container-md, .modal-content, .left-side {
  @include m.glassContainer();
}

.actualTravelsMenu {
  min-height: 70vh;
}
.tourType {
  white-space: nowrap;
}
.btn {
  position: relative;
  color: whitesmoke;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border-radius: 10px;
  font-weight: 400;
  transition: 0.2s;
  margin: 0 1px;
  overflow: hidden;
}
.btn a {

  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}
.btn:hover a {
  color: #222;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);

}
.btn .btn-inner {
  @include m.glassContainer();
  font-size: 1.1rem;
  box-shadow: 0 25px 45px rgba(0,0,0,0.1) !important;
  border: 1px solid rgba(255,255,255,0.5) !important;
  border-right: 1px solid rgba(255,255,255,0.2) !important;
  border-bottom: 1px solid rgba(255,255,255,0.2) !important;
  background: rgba(255,255,255,0.1) !important;
  border-radius: 10px !important;
  color: whitesmoke !important;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5) !important;
  backdrop-filter: blur(5px);

  border-radius: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
  transform: skew(45deg) translateX(0);
  transition: 0.3s;

}
.btn:hover .btn-inner {
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  // background: rgba(255,0,0,0.2);
  background: rgba(255,255,255,0.3);
}
.btn:hover .btn-inner::before {
  transform: skew(45deg) translateX(200%);
}

.filter-button {
  width: 100%;
}


// .actualTravelsMenu {
//   min-height: 60vh;
// }

.table-container  {
  @include m.glassContainer();
}
td {
  background: transparent;
  border: 1px solid transparent
}
td:hover {
  @include m.glassContainer();

}

td h6{
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}
td:hover h6{
  color: #222;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  cursor: pointer;
}

tr {
  width: 100%;
}
.left-side {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  // background-color: #fefefe90;
  display: none;
}
.img-container {
  height: 350px;
}

@media only screen and (min-width: 768px) {
  .left-side {
    display: block;

  }
  .left-side .img-container{
    position: relative;
  }
  .left-side-map {
    position: absolute;
    width: 35%;
    height: 35%;
    top:5px;
    right:-50px;
    overflow: hidden;
  }
  .left-side-map img {
    height: 120px;
  }

}

